table {
  margin: auto auto;
  border-radius: 1px;
  border-style: solid;
  border-color: black;
  border-collapse: collapse;
  text-align: center;
}
th {
  padding: 5px 10px;
}
td {
  padding: 0 10px;
  border: 1px solid;
  border-spacing: 0;
}
p, h1, h2 {
  text-align: center;
  margin: auto;
}